<div [@slideDown]>
    <mat-card-header>
      <div class="text-2xl font-bold tracking-tight leading-none"> Notification Details</div>
    </mat-card-header>
    <mat-card-content>
        
        <mat-list class="flex flex-row w-full " style="margin-top: 20px;">
           
          <mat-icon class="icon-size-5 mr-3">description</mat-icon>
          <span matLine>title:</span><br>
          <p style="margin-left: 20px;">{{ notification ?notification.notification.title :''}}</p>
        </mat-list>
  
      
        <mat-list class="flex flex-row w-full " style="margin-top: 20px;">
          <mat-icon class="icon-size-5 mr-3">description</mat-icon>
          <span matLine>Description:</span>
          <a [href]="notification.notification.content" matLine style="margin-left: 20px; word-wrap: break-word; display: inline-block; width: 500px;">{{notification? notification.notification.content :''}} </a>
        </mat-list>

        <mat-list class="flex flex-row w-full " style="margin-top: 20px;">
            <mat-icon  class="icon-size-5 mr-3" svgIcon="heroicons_outline:user-circle"></mat-icon>
            <span matLine >Sender:</span>
            <span matLine style="margin-left: 20px;">{{notification? notification.senderEmail :''}} </span>
          </mat-list>
  
  
          <mat-list class="flex flex-row w-full " style="margin-top: 20px;">
            <mat-icon class="icon-size-5 mr-3" svgIcon="heroicons_outline:clock"></mat-icon>
            <span matLine >CreatedAt:</span>
            <span matLine style="margin-left: 20px;"> {{notification.notification.dateCreated | date:'MMM dd, h:mm a'}} </span>
          </mat-list>
          
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>Button</button> -->
    </mat-card-actions>
    <mat-card-footer>
   
    </mat-card-footer>
  </div>
  